.app {
    &-header {
        text-align: center;
        padding: 2rem;
    }
    &-title {
    }
    &-toolbar {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
}
